.route {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 25px;
  margin: 20px
}

/* --------------HEADER----------------- */

.navbar {
  background-color: black;
  padding-right: 8px;
  padding-left: 8px;
}

.navbar-brand {
  font-size: 40px;
}

form {
  display: flex;
  width: 70%;
}

.navtop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.cart {
  margin-left: 5px;
}

.carrito {
  background-color: rgb(221, 31, 31);
  color: aliceblue;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

.container-fluid {
  display: block;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
}

li {
  padding: 10px;
}

.navbar-toggler {
  border: solid 2px rgba(12, 12, 12, 0.374);
}

/* ------------------- PRODUCTOS------------- */

.product {
  width: 300px;
  height: 280px;
}

.card {
  border: none;
  margin: 1rem;
  width: 20rem;
}

.card:hover {
  box-shadow: 0px 2px 2px 2px #534c4c;
}

.buy {
  margin-left: 3px;
}

/* ----------------DETALLE PRODUCTO--------- */

.container-Detail {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.557);
  margin: 30px 40px;
  padding: 10px;
}

.imgDetail {
  width: 35%;
}

.bodyDetail {
  padding: 3rem;
  background-color: rgba(161, 166, 171, 0.178);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.389);
  margin: 30px;
  width: 40%;
}

.cantMas {
  margin: 5px;
}

.cantMenos {
  margin: 5px;
}

.agregar-restar {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.agregarCarrito { 
  width: 100%;
}
/* ----------CONTACTO------------ */

form {
  text-align: start;
  color: #f1f1f1;
}

.btn-darkk {
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 1px 1px 1px #867d7d;
}

.clicks {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  background-color: #040404;
  margin: 3rem;
  box-shadow: 1px 1px 1px 1px #534c4c
} 


.tituloContacto {
  text-align: center;
  margin-right: 30px;
  background-color: #e6e0de90;
  padding: 10px;
  margin: 30px;
}

.contacto {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}