.route {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 25px;
  margin: 20px
}

/* --------------HEADER----------------- */

.navbar {
  background-color: black;
  padding-right: 8px;
  padding-left: 8px;
}

.navbar-brand {
  font-size: 40px;
}

form {
  display: flex;
  width: 70%;
}

.navtop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.navbar-collapse{
  display: flex;
  justify-content: center;
  text-align: center ;
}

li {
  padding: 10px;
}

/* --------CARRITO----------- */
.cart {
  margin-left: 5px;
}

.carrito {
  font-size:medium;
  background-color: rgb(221, 31, 31);
  color: aliceblue;
  padding-right: 5px;
  padding-left: 6px;
  text-align: center;
  border-radius: 10px;
}

.container-fluid {
  display: block;
}

.navbar-toggler {
  border: solid 2px rgba(12, 12, 12, 0.374);
}

.botonBrown {
  background-color: #534c4c
}

/* ---------ORDEN DE COMPRA------ */

.ordenCompra {
  background-color: #040404;
  width: 70%;
  height: 100%;
  color: rgba(255, 255, 255, 0.938);
  padding: 15px;
  margin-left: 10%;
  
}

.titleBuy{
  margin-bottom: 2rem;
  color: #c8c1c1;
}

.comprarCarrito {
  width: 100%;
  margin-top: 50%;
}

.borderBotom{
  border-bottom: #f4f0f0 solid 1px;
  padding-bottom: 1rem;
}

/* ------------------- PRODUCTOS------------- */

.container-prod {
  margin: 3rem;
}

.product {
  width: 300px;
  height: 280px;
}

.card {
  border: none;
  margin: 2rem;
  width: 20rem;
  border-bottom: solid 1px #534c4c9c;
}

.card:hover {
  box-shadow: 0px 2px 2px 2px #534c4cae;
}

.buy {
  margin-left: 3px;
}

/* ----------------DETALLE PRODUCTO--------- */

.container-Detail {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.557);
  margin: 30px 40px;
  padding: 10px;
}

.imgDetail {
  width: 35%;
}

.bodyDetail {
  padding: 3rem;
  background-color: rgba(161, 166, 171, 0.178);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.389);
  margin: 30px;
  width: 40%;
}

.cantMas {
  margin: 5px;
}

.cantMenos {
  margin: 5px;
}

.agregar-restar {
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.agregarCarrito {
  width: 100%;
}

/* ----------CONTACTO------------ */

form {
  text-align: start;
  color: #f1f1f1;
}

.btn-darkk {
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 1px 1px 1px #867d7d;
}

.clicks {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 15px;
  background-color: #040404;
  margin: 3rem;
  box-shadow: 1px 1px 1px 1px #534c4c
}

.tituloContacto {
  text-align: center;
  background-color: #e6e0de90;
  padding: 10px;
  margin: 30px;
}

.contacto {
  color: #ffffff;
  text-decoration: none;
}

/* ---SWAL-- */

button.swal2-confirm.swal2-styled{
  background: #000000de;
  border-radius: 0px
}

div.swal2-actions{
  margin-top: 10px;
}

h2.swal2-title {
  padding-top: 10px;
}

/* -------CARDS CARRRITO----------- */

.prod-carrito{
  margin: 0%;
  width: 60%;
}

.carrito-vacio {
  margin-bottom: 3rem;
}

.rutaCard {
  padding: 2rem;
  background-color: #867d7d2e;
  box-shadow: 1px 1px 2px 2px #534c4c82;
}

